<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
{% load i18n %}
{% load staticfiles %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

        
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/print.css" %}" type="text/css" media="print" />
		{% if langcss %}
			<link rel="stylesheet" href="{% static "css/pages.css" %}" type="text/css"/>
			<link rel="stylesheet" href="{% static langcss %}" type="text/css" />
		
		{% endif %}
		{% block css %}
		{% endblock %}
	<script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
	<script src="{% static "js/functions_input.js" %}"></script>
	<script src="{% static "js/mise_en_page.js" %}"></script>
	
</head>

<body>

<div class="container">
{% block content %}
{% endblock %}
</div>

</body>
</html>
